.footer {
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;

  background-color: #000000;

  @include flex-setting(column, space-between, center, nowrap);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  position: relative;

  &__wrap {
    @include flex-setting(row, space-between, center, nowrap);
    width: 100%;

    margin-bottom: 5px;
  }

  &__rights {
    @include font-setting($regular-font, 0.4em, 300, $text-white);
    text-transform: uppercase;
    opacity: 0.6;
  }

  &--index {
    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/pig-red.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      width: 141px;
      height: 196px;

      bottom: 10px;
      left: -40px;

      z-index: -2;
    }

    &::before {
      position: absolute;
      content: '';

      background-image: url('../img/pig-black.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      width: 140px;
      height: 161px;

      top: -280px;
      right: -70px;

      z-index: -2;
    }
  }

  &--trailer {
    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/three-birds.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      width: 272px;
      height: 124px;

      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);

      z-index: -2;
    }
  }
}

@media only screen and (min-width: 360px) {
  .footer {
    &--trailer {
      &::after {
        width: 340px;
        height: 155px;

        bottom: 20px;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;

    &__logo {
      width: 124px;
      height: 18px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      position: absolute;

      top: 50%;
      transform: translateY(-50%);
    }

    &--index {
      &::after {
        width: 404px;
        height: 560px;

        bottom: -40px;
        left: -195px;
      }

      &::before {
        width: 405px;
        height: 462px;
        top: -500px;
        right: -170px;
      }
    }

    &--trailer {
      &::after {
        width: 680px;
        height: 311px;

        bottom: 20px;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;

    &__logo {
      width: 124px;
      height: 18px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      position: absolute;

      top: 50%;
      transform: translateY(-50%);
    }

    &__rights {
      font-size: 0.625em;
    }

    &--index {
      &::after {
        width: 404px;
        height: 560px;

        bottom: -40px;
        left: -195px;
      }

      &::before {
        width: 405px;
        height: 462px;
        top: -500px;
        right: -170px;
      }
    }

    &--trailer {
      &::after {
        width: 680px;
        height: 311px;

        bottom: -30px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    &--index {
      &::after {
        width: 404px;
        height: 560px;

        bottom: 10px;
        left: 19%;
      }

      &::before {
        display: none;
      }
    }

    &--trailer {
      &::after {
        width: 1020px;
        height: 467px;

        bottom: -30px;
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .footer {
    &--index {
      &::after {
        width: 262px;
        height: 364px;

        bottom: 10px;
        left: 29%;

        transition: 0.2s ease-in;
      }

      &::before {
        display: none;
      }
    }

    &--trailer {
      &::after {
        width: 680px;
        height: 311px;

        bottom: -30px;
      }
    }
  }
}
