.gallery-slider {
  width: 280px;

  position: relative;

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    .slick-list {
      height: 300px !important;
    }
  }

  .slick-dots {
    width: 100%;
    max-width: 300px;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: scroll;
    overflow-y: hidden;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;

    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
      width: 0;
    }

    -webkit-tap-highlight-color: transparent;

    li,
    button {
      background-color: transparent;
      border: none;
      outline: none;
    }

    button {
      height: 24px;
      font: {
        size: 0.625em;
        family: $regular-font;
        weight: 700;
      }

      color: #ffffff;
    }

    .slick-active button {
      transform: scale(1.8);
      transition: 0.3s ease-in;
    }
  }
}

@media only screen and (min-width: 414px) {
  .gallery-slider {
    width: 340px;
    position: relative;

    &:not(.slick-initialized) {
      .slick-list {
        height: 300px !important;
      }
    }

    .slick-dots {
      max-width: 340px;

      bottom: -60px;

      button {
        height: 24px;

        font: {
          size: 0.875em;
        }
      }
    }

    .prev-3,
    .next-3 {
      display: block;

      width: 17px;
      height: 31px;

      cursor: pointer;
      outline: none;

      opacity: 0.6;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

    .prev-3 {
      position: absolute;

      top: 50%;
      left: -25px;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 17px 31px;

      z-index: 4;
    }

    .next-3 {
      position: absolute;

      top: 50%;
      right: -25px;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 17px 31px;

      z-index: 4;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .gallery-slider {
    width: 495px;

    &:not(.slick-initialized) {
      .slick-list {
        height: 495px !important;
      }
    }

    .slick-dots {
      max-width: 450px;

      bottom: -60px;

      button {
        height: 24px;

        font: {
          size: 0.875em;
        }
      }
    }

    .prev-3,
    .next-3 {
      width: 24px;
      height: 46px;
    }

    .prev-3 {
      left: -45px;
      background-size: 24px 46px;
    }

    .next-3 {
      right: -45px;
      background-size: 24px 46px;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .gallery-slider {
    padding-top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    flex-wrap: wrap;

    max-height: 310px;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }

    -webkit-tap-highlight-color: transparent;

    &:not(.slick-initialized) {
      visibility: visible;
      width: 905px;

      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 0;
      }

      -webkit-tap-highlight-color: transparent;

      .slick-list {
        height: 592px !important;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .gallery-slider {
    max-height: 620px;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }

    -webkit-tap-highlight-color: transparent;

    &:not(.slick-initialized) {
      visibility: visible;
      width: 1216px;

      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 0;
      }

      -webkit-tap-highlight-color: transparent;

      .slick-list {
        height: 620px !important;
      }
    }
  }
}
