.index {
  @include flex-setting(column, flex-start, center, nowrap);

  width: 100%;

  &__wrap {
    @include flex-setting(column, flex-start, center, nowrap);
  }

  &__description {
    @include font-setting($regular-font, 1em, 300, $text-white);
    text-align: center;

    margin-bottom: 10px;

    max-width: 300px;
  }
}
