.index {
  @include flex-setting(column, flex-start, center, nowrap);

  width: 100%;

  &__wrap {
    @include flex-setting(column, flex-start, center, nowrap);
  }

  &__description {
    @include font-setting($regular-font, 1em, 300, $text-white);
    text-align: center;

    margin-bottom: 10px;

    max-width: 300px;
  }
}

@media only screen and (min-width: 360px) {
  .index {
    &__description {
      max-width: 340px;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 375px) and (min-device-height: 700px) {
  .index {
    &__wrap {
      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 88px;
        height: 55px;

        background-image: url('../img/prize-1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;

        bottom: -50px;
        left: 50%;

        transform: translateX(-50%);
      }
    }
  }
}

@media only screen and (min-width: 414px) {
  .index {
    &__wrap {
      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 88px;
        height: 55px;

        background-image: url('../img/prize-1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;

        bottom: -50px;
        left: 50%;

        transform: translateX(-50%);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .index {
    &__description {
      font-size: 1.5em;
      max-width: 592px;
      margin-top: 0;
      margin-bottom: 25px;
    }

    &__wrap {
      &::after {
        width: 132px;
        height: 83px;

        bottom: -100px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .index {
    align-items: flex-end;

    &__description {
      font-size: 1.25em;
      max-width: 592px;
      margin-top: -50px;
      margin-bottom: 25px;
    }

    &__wrap {
      &::after {
        width: 132px;
        height: 83px;

        bottom: -25px;
        left: auto;
        right: -95px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .index {
    &__wrap {
      &::after {
        width: 176px;
        height: 109px;

        bottom: -125px;
        left: 50%;
        right: auto;
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .index {
    align-items: flex-end;
    margin-top: -70px;

    &__wrap {
      &::after {
        width: 132px;
        height: 83px;

        bottom: -80px;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .index {
    &__wrap {
      &::after {
        width: 176px;
        height: 109px;

        bottom: -140px;
      }
    }
  }
}
@media only screen and (min-width: 1920px) {
  .index {
    margin-top: -100px;

    &__description {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 49px;
    }
  }
}
