.main {
  position: relative;

  @include flex-setting(column, flex-start, center, nowrap);
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    width: 1172px;
    margin: 0 auto;
    padding: 0;
  }
}
