.prize {
  @include flex-setting(column, flex-start, center, nowrap);

  width: 100%;

  padding-top: 20px;
}

@media only screen and (min-width: 375px) {
  .prize {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .prize {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .prize {
    padding-top: 0px;
    margin-top: -90px;
  }
}

@media only screen and (min-width: 1280px) {
  .prize {
    padding-top: 0px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1366px) {
  .prize {
    padding-top: 0px;
    margin-top: -150px;
  }
}

@media only screen and (min-width: 1440px) {
  .prize {
    padding-top: 0px;
    margin-top: -90px;
  }
}

@media only screen and (min-width: 1600px) {
  .prize {
    padding-top: 0px;
    margin-top: 0px;
  }
}
