.stars-slider {
  width: 300px;

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 100%;

    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__info {
    order: 2;

    @include flex-setting(column, flex-start, center, nowrap);
    width: 100%;
  }

  &__name {
    @include font-setting($alternate-font, 1.375em, 400, $text-white);

    margin-top: 0px;
    margin-bottom: 10px;

    text-align: center;
  }

  &__description {
    @include font-setting($regular-font, 0.75em, 400, $text-white);

    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;

    max-height: 100px;
    overflow-y: scroll;
  }

  &__photo {
    order: 1;

    margin-bottom: 30px;

    width: auto;
    height: 120px;
    min-height: 120px;
    max-height: 120px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      width: 56px;
      height: 2px;

      background-image: url('../img/slide-line.svg');
      background-size: 56px 2px;

      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    margin-top: 0px;

    position: absolute;

    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin: 0 3px;
    }

    button {
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 1px solid #ffffff;
      border-radius: 100%;
      background-color: transparent;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;

      width: 12px;
      height: 12px;
      border: 1px solid #ffffff;
      border-radius: 100%;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;
    }
  }

  .prev,
  .next {
    display: block;

    width: 17px;
    height: 31px;

    cursor: pointer;
    outline: none;

    opacity: 0.6;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  .prev {
    position: absolute;

    top: 38%;
    left: 0px;

    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: 17px 31px;

    z-index: 4;
  }

  .next {
    position: absolute;

    top: 38%;
    right: 0px;

    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 17px 31px;

    z-index: 4;
  }
}
