.success {
  @include flex-setting(column, flex-start, center, nowrap);

  width: 100%;

  padding-top: 20px;

  &__wrap {
    @include flex-setting(column, flex-start, center, nowrap);
  }

  &__info {
    order: 2;

    @include flex-setting(column, flex-start, center, nowrap);

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__title {
    @include font-setting($regular-font, 1.375em, 300, $text-white);
    text-align: center;
    max-width: 300px;

    margin-bottom: 20px;
    margin-top: 0;
  }

  &__description {
    @include font-setting($regular-font, 1.125em, 400, $text-white);
    text-align: center;
    max-width: 300px;

    margin: 0;
  }

  &__pic {
    order: 1;

    margin-bottom: 30px;

    max-height: 144px;
    min-height: 144px;
    width: 100%;
  }

  &__img {
    width: auto;
    height: auto;
    max-height: 350px;
  }
}

@media only screen and (min-width: 360px) {
  .success {
    &__info {
      margin-top: 10px;
    }

    &__title {
      font-size: 1.5em;
      max-width: 320px;
    }

    &__description {
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .success {
    &__info {
      margin-top: 400px;
      padding: 20px 20px;
    }

    &__title {
      font-size: 2.5em;
      max-width: 500px;
    }

    &__description {
      font-size: 1.5em;
      max-width: 400px;
    }

    &__pic {
      position: absolute;
      max-height: 607px;
      min-height: 607px;
      width: 489px;
      min-width: 489px;

      z-index: -1;
    }

    &__img {
      width: auto;
      height: auto;
      max-height: 607px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .success {
    margin-top: -20px;

    &__wrap {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__info {
      order: 1;
      margin-top: 0;
      padding: 0;
      background-color: transparent;
    }

    &__title {
      font-size: 2em;
      max-width: 500px;
    }

    &__description {
      font-size: 1.25em;
      max-width: 350px;
    }

    &__pic {
      order: 2;
      position: relative;
      max-height: 403px;
      min-height: 403px;
      width: 342px;
      min-width: 342px;

      margin-bottom: 0;

      z-index: 0;
    }

    &__img {
      max-height: 403px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .success {
    margin-top: -120px;

    &__title {
      font-size: 2.5em;
      max-width: 488px;
    }

    &__description {
      font-size: 1.388em;
      max-width: 300px;
    }

    &__pic {
      order: 2;
      position: relative;
      max-height: 616px;
      height: auto;
      width: auto;
      min-width: 350px;
      max-width: 488px;

      margin-bottom: 0;

      z-index: 0;
    }

    &__img {
      max-height: 616px;
      height: auto;
      width: auto;
      min-width: 350px;
      max-width: 488px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .success {
    &__pic {
      max-height: 403px;
      min-width: 342px;
    }

    &__img {
      max-height: 403px;
      min-width: 342px;
    }
  }
}


@media only screen and (min-width: 1600px) {
  .success {
    &__pic {
      max-height: 616px;
      min-width: 350px;
    }

    &__img {
      max-height: 616px;
      min-width: 350px;
    }
  }
}
