.trailer {
  width: 300px;

  padding-top: 40px;
  margin-bottom: 20px;

  &__wrap {
    height: 197px;
    width: 300px;

    border: 4px solid #ffffff;

    overflow: hidden;

    box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);

    z-index: 3;
  }

  &__play {
    position: relative;

    padding-bottom: 56.25%;
    padding-top: 25px;

    height: 0;
    width: 100%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 195px;
  }
}

@media only screen and (min-width: 360px) {
  .trailer {
    width: 340px;

    padding-top: 20px;
    margin-bottom: 20px;

    &__wrap {
      height: 220px;
      width: 340px;
    }

    &__video {
      max-height: 212px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .trailer {
    width: 592px;

    padding-top: 20px;
    margin-bottom: 20px;

    &__wrap {
      height: 331px;
      width: 592px;
      border-width: 8px;
    }

    &__video {
      max-height: 315px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .trailer {
    align-items: flex-end;
    width: 100%;

    padding-top: 0px;
    margin-bottom: 20px;
    margin-top: -50px;

    &__wrap {
      margin-left: auto;
      margin-right: 0;
      height: 331px;
      width: 592px;
      border-width: 8px;
    }

    &__video {
      max-height: 315px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .trailer {
    align-items: center;
    justify-content: center;

    padding-top: 0px;
    margin-bottom: 20px;
    margin-top: 0px;

    &__wrap {
      margin-left: auto;
      margin-right: auto;
      height: 331px;
      width: 592px;
      border-width: 8px;
    }

    &__video {
      max-height: 315px;
    }
  }
}
