$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$laptop-wide: 1200px;

$bg-body: #fff;

$text-black: #000000;
$text-white: #ffffff;

$colors: #396cba, #4988c4, #a8fdff, #cacaca, #c9c9c9, #d9d9d9;

$link-hover-bg: #e60c96;
$link-hover-text: #ffff00;

$bg-footer: #1c1c1a;

$regular-font: "Oswald", sans-serif;
$alternate-font: "Pattaya", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-black;
$baseFontFamily: $regular-font;
